<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %> <% if (user) { %>
    <div class="container mt-3" style="max-width: 500px;">
      <form action="/user/ChangePassword/<%= user._id %>" method="post" class="p-4 rounded shadow-sm">
        <h3  class="mb-4 text-center" style="font-family: 'Kaushan Script', cursive; color: #ff8800;">Change Password</h3>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >Old Password</label
          >
          <input
            type="password"
            name="oldpassword"
            class="input form-control"
            id="exampleInputPassword1"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"
            >New Password</label
          >
          <input
            type="password"
            name="newpassword"
            class="input form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

     <% } else { %>
    <div class="container mt-3">
      <p>
        You need to be logged in to add a task. Please
        <a href="/user/signin">sign in</a>.
      </p>
    </div>
    <% } %> <%- include('./partials/script')%>
  </body>
</html>
